<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.example.music_app">

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config_debug" />
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
